.top-buffer {
    margin-top: 10px
}

.labels {
    border: transparent;
    background: transparent;
    width: 460px;
    padding-top: 8px;
}

.startFresh {
    position: absolute;
    left: 50%;
    margin-left: -70px;
}