@{
    ViewData["Title"] = "Matdaan";
}

<div ng-controller="VotingAppController" ng-init="refresh()">
    <div class="container-fluid" style="background-color: white; margin-top: 20px;">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h1>Matdaan</h1><hr>
            </div>
        </div>

        @* Div containing Aadhar No input box and Submit button to send OTP and OTP sending status *@
        <div id="EnterAadharNoDiv" class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <label class="control-label" for="txtAddAadharNo">Enter Aadhar No</label>
                        <input id="txtAddAadharNo" type="number" class="form-control" placeholder="Aadhar No (without spaces)" ng-model="aadharNo" required="required" />
                    </div>
                    <div class="col-xs-6 form-group">
                        <input ng-model="AadharSubmissionMessage" disabled="disabled" class="labels" style="color:{{AadharSubmissionColor}};" />
                    </div>
                </div>
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <input ng-click="GenerateCaptcha()" type="text" ng-model="CaptchaText" class="captcha" readonly />
                    </div>
                </div>
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <label class="control-label" for="txtCaptcha">Enter text shown in above image</label>
                        <input id="txtCaptcha" type="text" class="form-control" placeholder="Enter text shown in above image" ng-model="userEnteredCaptchaText" required />
                    </div>
                </div>
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <button id="btnAddAadharNo" class="btn btn-primary" ng-click="SubmitAadharNoToSendOtp(aadharNo, userEnteredCaptchaText)">
                            Submit Aadhar No
                        </button>
                    </div>
                </div>
            </div>
        </div>

        @* Div containing Otp sent to contact no/email message, Enter otp input box, OTP verification message.*@
        <div id="EnterOtpDiv" class="row" style="display:none">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <label class="control-label" for="txtEnterOtp">Enter OTP</label>
                        <input id="txtEnterOtp" type="number" class="form-control" placeholder="Enter OTP" ng-model="userEnteredOtp" required="required" />
                    </div>
                    <div class="col-xs-6 form-group">
                        <input ng-model="OtpVerificationMessage" disabled="disabled" class="labels" style="color:{{OtpVerificationColor}};" />
                    </div>
                </div>
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <button id="btnVerifyOtp" class="btn btn-primary" ng-click="VerifyOtp(aadharNo, userEnteredOtp)">
                            Verify OTP
                        </button>
                    </div>
                </div>
            </div>
        </div>

        @* Div containing Enter Voter Id details and Link to Aadhar button and Voter Id linking status message.*@
        <div id="EnterVoterIdDiv" class="row" style="display:none">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <hr><br /><label class="heading">Enter details exactly as printed in Voter card.</label>
                    </div>
                </div>
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <label class="control-label" for="txtEnterVoterId">Enter Voter Id</label>
                        <input id="txtEnterVoterId" type="text" class="form-control" placeholder="Voter Id (without spaces)" ng-model="voterId" required="required" />
                    </div>
                </div>
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <label class="control-label" for="txtEnterName">Enter Name</label>
                        <input id="txtEnterName" type="text" class="form-control" placeholder="Name" ng-model="name" required="required" />
                    </div>
                </div>
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <label class="control-label" for="txtEnterFatherName">Enter Father's Name</label>
                        <input id="txtEnterFatherName" type="text" class="form-control" placeholder="Father's Name" ng-model="fatherName" required="required" />
                    </div>
                </div>
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <label class="control-label" for="txtEnterDOB">Enter DOB (dd/mm/yyyy)</label>
                        <input id="txtEnterDOB" type="text" class="form-control" placeholder="DOB (dd/mm/yyyy)" ng-model="dob" required="required" />
                    </div>
                </div>
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <label class="control-label" for="txtEnterGender">Enter Gender</label>
                        <input id="txtEnterGender" type="text" class="form-control" placeholder="Gender" ng-model="gender" required="required" />
                    </div>
                    <div class="col-xs-6 form-group">
                        <input ng-model="VoterIdLinkingMessage" disabled="disabled" class="labels" style="color:{{VoterIdLinkingColor}};" />
                    </div>
                </div>
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <button id="btnLinkVoterIdToAadhar" class="btn btn-primary" ng-click="LinkVoterIdToAadhar(aadharNo, voterId, name, dob, fatherName, gender, userEnteredOtp)">
                            Link VoterId to Aadhar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        @* Div containing fields for casting vote, choose candidate, vote casting message.*@
        <div id="CastVoteDiv" class="row" style="display:none">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <hr><br /><label class="heading">Click on candidate name to vote.</label>
                    </div>
                    <div class="col-xs-6 form-group">
                        <input ng-model="castVoteMessage" disabled="disabled" class="labels" style="margin-top:8%;color:{{castVoteColor}};" />
                    </div>
                </div>
                <div class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <div class="row top-buffer" ng-repeat="candidate in candidates">
                            <div class="col-xs-12">
                                <button class="btn btn-warning text-left btn-block candidates" ng-click="CastVote(aadharNo, voterId, candidate, userEnteredOtp)">
                                    <span class="pull-left">
                                        {{candidate}}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        @* Div containing button for start fresh.*@
        <div id="StartFreshDiv" class="row startFresh">
            <button id="btnStartFresh" class="btn btn-success" ng-click="StartFresh()">
                Start Fresh Again
            </button>
            <button id="btnLiveVotingResult" class="btn btn-success" style="margin-left: 70px;" ng-click="LiveVotingResult()">
                See Live Voting Result
            </button>
        </div>
        <br /><br /><br />
        <div id="LiveVotingResult" class="row" style="display: none">
            <div class="col-xs-12 col-xs-offset-2">
                <div class="col-xs-6 form-group">
                    <input ng-model="FetchLiveVotingMessage" disabled="disabled" class="labels" style="color:blue;" />
                </div>
                <div class="row top-buffer" ng-repeat="vote in votes.data">
                    <div class="col-xs-8">
                        <button class="btn btn-info text-left btn-block">
                            <span class="pull-left">
                                {{vote.key}}
                            </span>
                            <span class="badge pull-right">
                                {{vote.value}} Votes
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        @*
        <div class="row" style="display: none">
            <div class="col-xs-8 col-xs-offset-2">
                <form class="col-xs-12 center-block">
                    <div class="col-xs-6 form-group">
                        <input id="txtAdd" type="text" class="form-control" placeholder="Enter candidate name" ng-model="item" />
                    </div>
                    <button id="btnAdd" class="btn btn-default" ng-click="add(item)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Add
                    </button>
                </form>
            </div>
        </div>

        <br /><br />

        <div class="row" style="display: none">
            <div class="col-xs-8 col-xs-offset-2">

                <div class="row top-buffer" ng-repeat="vote in votes.data">
                    <div class="col-xs-8">
                        <button class="btn btn-success text-left btn-block" ng-click="add(vote.key)">
                            <span class="pull-left">
                                {{vote.key}}
                            </span>
                            <span class="badge pull-right">
                                {{vote.value}} Votes
                            </span>
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-danger pull-right btn-block" ng-click="remove(vote.key)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
